:root {
    --color-text-main: #313131;
    --color-red: #F54932;
    --color-btn-black: #1f1f1f;
    --color-borders-grid: #D0D0D0;
    --color-text-blue: #3057A2;
    --color-white: #FFFFFF;
    --color-btn-hover: #FBCE51;
    --color-bckg: #E9DED4;

    --border: 2px solid #1f1f1f;

    --border-radius-btn: 66px;
    --border-radius-circle: 100%;

    --font-family-base: 'Merriweather', 'sens-serif';
    --font-family-accent: 'GolosText', 'sens-serif';

    --container-width: 1222px;
    --container-padding-x: 20px;

    --section-padding-y: 100px;

    --button-height: 72px;
    --button-padding-inline: 49px;

    --transition-duration: 0.2s;
}