@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GolosText";
  src: url("../fonts/GolosText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-text-main: #313131;
  --color-red: #F54932;
  --color-btn-black: #1f1f1f;
  --color-borders-grid: #D0D0D0;
  --color-text-blue: #3057A2;
  --color-white: #FFFFFF;
  --color-btn-hover: #FBCE51;
  --color-bckg: #E9DED4;
  --border: 2px solid #1f1f1f;
  --border-radius-btn: 66px;
  --border-radius-circle: 100%;
  --font-family-base: "Merriweather", "sens-serif";
  --font-family-accent: "GolosText", "sens-serif";
  --container-width: 1222px;
  --container-padding-x: 20px;
  --section-padding-y: 100px;
  --button-height: 72px;
  --button-padding-inline: 49px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767.98px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(18px, 1.4641288433vw, 20px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-text-main);
  background-color: var(--color-white);
}

a,
button,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

h1 {
  font-size: clamp(36px, 4.39238653vw, 60px);
}

h2 {
  font-size: clamp(28px, 2.635431918vw, 36px);
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-accent);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  padding-inline: 49px;
  height: 72px;
  border-radius: var(--border-radius-btn);
  max-width: 263px;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .button {
    max-width: 100%;
    width: 100%;
    height: 47px;
  }
}

.section__support-the-tournament {
  padding-top: 107px;
}
@media (max-width: 767.98px) {
  .section__support-the-tournament {
    padding-top: 48px;
  }
}
.section__more-about-the-tournament {
  padding-top: 64px;
}
.section__stages-of-transformation {
  padding-top: 200px;
}

.hero {
  background: url("./../images/Group 12.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 26px;
}
@media (max-width: 767.98px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 87%;
  }
}
@media (min-width: 1201px) {
  .hero {
    background-size: 100% 100%;
  }
}
.hero__inner {
  display: flex;
  flex-direction: column;
}
.hero__logo {
  max-width: 246px;
}
.hero__body {
  padding: 62px 0 132px;
  display: flex;
  flex-direction: column;
  max-width: 542px;
}
@media (max-width: 767.98px) {
  .hero__body {
    padding: 62px 0 329px;
    max-width: 335px;
  }
}
.hero__title {
  text-transform: uppercase;
  line-height: 66px;
}
@media (max-width: 767.98px) {
  .hero__title {
    line-height: 39.6px;
  }
}
.hero__title-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 1000px) {
  .hero__title-alignment {
    text-align: start;
  }
}
@media (max-width: 767.98px) {
  .hero__title-alignment {
    line-height: 39.6px;
    text-align: center;
  }
}
.hero__description {
  text-align: center;
  margin-top: 24px;
  font-size: 18px;
  line-height: 23.4px;
}
@media (max-width: 767.98px) {
  .hero__description {
    text-align: start;
    line-height: 23.4px;
  }
}
.hero__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (max-width: 767.98px) {
  .hero__buttons {
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
  }
}
.hero__buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero__buttons-support {
  color: var(--color-white);
  background-color: var(--color-btn-black);
}
.hero__buttons-support:hover {
  color: var(--color-btn-black);
  background-color: var(--color-btn-hover);
}
.hero__buttons-more-details {
  color: var(--color-btn-black);
  border: var(--border);
  background-color: inherit;
}
@media (max-width: 767.98px) {
  .hero__buttons-more-details {
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
  }
}
.hero__buttons-more-details:hover {
  color: var(--color-white);
  background-color: var(--color-btn-black);
}

.running-line {
  font-size: clamp(16px, 1.6105417277vw, 22px);
  display: flex;
  gap: 30px;
  background-color: var(--color-red);
  overflow: hidden;
}
.running-line__list {
  flex-shrink: 0;
  display: flex;
  gap: 30px;
  counter-reset: running-line__item;
  justify-content: space-around;
  min-width: 100%;
  animation: scroll 10s linear infinite;
  height: 60px;
  align-items: center;
}
.running-line__item {
  position: relative;
  text-transform: uppercase;
  color: var(--color-white);
}
.running-line__item::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -20px;
  width: 6px;
  height: 6px;
  border-radius: var(--border-radius-circle);
  background-color: currentColor;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
.support-the-tournament {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .support-the-tournament {
    flex-direction: column;
    row-gap: 24px;
  }
}
.support-the-tournament__title {
  max-width: 764px;
  line-height: 48.6px;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .support-the-tournament__title {
    max-width: 335px;
  }
}
.support-the-tournament__title > span {
  color: var(--color-red);
  font-weight: 700;
}

.more-about-the-tournament {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
@media (max-width: 1000px) {
  .more-about-the-tournament {
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }
}
.more-about-the-tournament__body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 60px;
}
.more-about-the-tournament__title {
  text-transform: uppercase;
}
.more-about-the-tournament__title > span {
  color: var(--color-red);
  font-weight: 700;
}
.more-about-the-tournament__description-item {
  display: flex;
  align-items: center;
  font-family: var(--font-family-accent);
  font-size: 20px;
}
.more-about-the-tournament__description-item:nth-child(even) {
  font-weight: 600;
  padding-left: 16px;
}
@media (max-width: 767.98px) {
  .more-about-the-tournament__description-item:nth-child(even) {
    padding-left: 0;
  }
}
.more-about-the-tournament__description-item-price {
  font-weight: 600;
}
.more-about-the-tournament__description-line {
  position: relative;
}
.more-about-the-tournament__description-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  background-color: var(--color-red);
}
.more-about-the-tournament__description-administrator {
  font-size: clamp(18px, 1.4641288433vw, 20px);
  margin-top: 48px;
  color: var(--color-text-blue);
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .more-about-the-tournament__description-administrator {
    margin-top: 40px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 56px);
  overflow: hidden;
  --gap: 0em;
  --gap-vertical: 0;
  --line-offset: calc(var(--gap) / 2);
  --line-offset-vertical: calc(var(--gap-vertical) / 2);
  --line-thicknes: 2px;
  --line-color: var(--color-borders-grid);
}
@media (max-width: 767.98px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 38px);
  }
}
.grid__item {
  position: relative;
}
.grid__item:nth-child(n+3)::before, .grid__item:nth-child(n+3)::after {
  content: "";
  position: absolute;
  background-color: var(--line-color);
  z-index: 1;
}
.grid__item:nth-child(n+3)::after {
  inline-size: 100vw;
  block-size: var(--line-thicknes);
  inset-inline-start: 0;
  inset-block-start: calc(var(--line-offset) * -1);
}
@media (max-width: 767.98px) {
  .grid__item:nth-child(n+3)::after {
    block-size: 0;
  }
}
@media (max-width: 767.98px) {
  .grid__item:nth-child(2n+3)::before, .grid__item:nth-child(2n+3)::after {
    content: "";
    position: absolute;
    background-color: var(--line-color);
    z-index: 1;
  }
  .grid__item:nth-child(2n+3)::after {
    inline-size: 100vw;
    block-size: var(--line-thicknes);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
  }
}
.grid__item:nth-child(even)::before {
  inline-size: var(--line-thicknes);
  block-size: 100vw;
  inset-inline-start: 0;
  inset-block-start: calc(var(--line-offset-vertical) * -1);
}
@media (max-width: 767.98px) {
  .grid__item:nth-child(even)::before {
    inline-size: 0;
  }
}

.stages-of-transformation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 54px;
}
.stages-of-transformation__title {
  font-size: clamp(36px, 3.953147877vw, 54px);
  max-width: 766px;
  display: flex;
  position: relative;
}
@media (max-width: 1200px) {
  .stages-of-transformation__title {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
}
.stages-of-transformation__title > a {
  font-size: clamp(18px, 1.4641288433vw, 20px);
  color: var(--color-text-blue);
  font-family: var(--font-family-accent);
  max-width: 280px;
  position: absolute;
  bottom: 10px;
  right: 220px;
}
@media (max-width: 1200px) {
  .stages-of-transformation__title > a {
    position: static;
  }
}
.stages-of-transformation__body {
  margin-top: 54px;
}

.grid__stages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(112px, 112px, 136px);
  grid-template-areas: "a b c" "d e c" "f j j";
  gap: 20px;
}
.grid__stages-item:nth-child(1) {
  grid-area: a;
}
.grid__stages-item:nth-child(2) {
  grid-area: b;
}
.grid__stages-item:nth-child(3) {
  grid-area: c;
}
.grid__stages-item:nth-child(4) {
  grid-area: d;
}
.grid__stages-item:nth-child(5) {
  grid-area: e;
}
.grid__stages-item:nth-child(6) {
  grid-area: f;
}
.grid__stages-item:nth-child(7) {
  grid-area: j;
}

.stage {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 20px;
  height: 100%;
  background-image: linear-gradient(rgba(233, 222, 212, 0.8), rgba(233, 222, 212, 0.8)), url("../../images/image 23 (1).svg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%;
}
.stage__number {
  align-self: self-start;
}/*# sourceMappingURL=style.css.map */